*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --first-color: #f6f5f5;
  --second-color: #e8e8e7;
  --thirst-color: #333333;
  --fourth-color: #981914;
  --fifth-color: #b91819;
}

body{
  background-color: var(--first-color);
}

nav{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Bitcount Prop Single';
  width: 100%;
  height: 4rem;
  background: linear-gradient(90deg, var(--fourth-color), var(--fifth-color), var(--fourth-color));
  z-index: 1;
}

ul{
  display: flex;
  list-style: none;
}

li{
  font-size: 1.3rem;
  margin: 0 50px;
}

a{
  color: var(--second-color);
  text-decoration: none;
}

.big-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.title-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 30rem;
  margin-top: 10rem;
}

.vicio{
  font-family: 'Rubik Glitch';
  font-size: 18rem;
  letter-spacing: 1rem;
  color: var(--fifth-color);
  font-weight: 50;
  user-select: none;
  animation: showIt 3s ease;
}

@keyframes showIt{
  from{
    transform: translateY(50px);
    opacity: 0;

  }to{
    transform: translateY(0);
    opacity: 1
  }
}

.text-title{
  font-family: 'Roboto';
  color: var(--fifth-color);
  font-size: 4rem;
  user-select: none;
}

.btn{
  font-size: 20px;
  background-color: var(--fifth-color);
  color: var(--first-color);
  padding: 7px 15px;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 3px;
  transition: all .2s;
}

.btn:hover{
  padding: 7px 25px;
  background-color: #ff0000;
}

.text{
  margin-top: 2rem;
  font-size: 1.3rem;
}

/* PAGINA DEL JUEGO */

.warning{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(248, 248, 139);
  padding: 40px;
  margin-top: 200px;
  width: 50%;
}

.warning h2{
  font-size: 40px;
}

.warning p{
  font-size: 25px;
  text-align: center;
}

.btn-warning{
  margin-top: 30px;
  padding: 7px 15px;
  background-color: var(--thirst-color);
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: all 150ms ease;
}

.btn-warning:hover{
  background-color: #6e6e6e
}

.intro-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 30px auto;
}

.description-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--thirst-color);
  width: 100%;
  min-height: 100vh;
  animation: see 2s ease;
}

@keyframes see{
  from {opacity: 0}
  to {opacity: 1}
}

.description{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 150px 50px 50px 50px;
  width: 70%;
}

.photo-description{
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 40px;
  width: 40%;
}

.photo-description img{
  box-shadow: 0 0 20px var(--fifth-color);
  border-radius: 20px;
  transition: all 1s ease;
}

.photo-description img:hover{
  transform: scale(1.04);
}

.text-description{
  width: 60%;
  font-size: 23px;
}

.drugs-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.destroy-text{
  color: #e20101;
  margin: 15px 0;
}

.btn-drug{
  background: linear-gradient(145deg, #2d2d2d, #1c1c1c);
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-drug:hover{
  transform: scale(1.05);
  background: linear-gradient(145deg, #e20101, #810000);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}

.game-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--thirst-color);
  width: 100%;
  min-height: 100vh;
}

.welcome-drug-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  animation: see 1s ease;
}

.title-drug{
  margin: 100px 0 30px 0;
  color: #e20101;
  text-shadow: 1px 1px 2px #1c1c1c;
}

.intro-drug{
  font-size: 22px;
  color: white;
  width: 600px;
  margin-bottom: 30px;
  text-align: center;
}

.photo-drug{
  width: 450px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.decisions-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #6e6e6e;
  padding: 25px 45px;
  border-radius: 10px;
  width: 60%;
  margin-top: 200px;
}

.decisions-container h3{
  font-size: 24px;
  color: white;
  text-align: center;
}

.btns-decisions-container{
  margin: 25px 0;
  margin-top: 50px;
}

.btns-decisions-container button{
  font-size: 20px;
  padding: 15px 25px;
  margin: 0 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 250ms ease;
}

.btns-decisions-container button:hover{
  background-color: var(--thirst-color);
  color: #eee;
}

.finalBtn{
  background-color: var(--thirst-color);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.finalBtn:hover{
  background-color: var(--fourth-color) !important
}

.resumen-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  color: #eee;
  margin: 110px 0;
  
}

.resume-text-container{
  text-align: center;
  margin: 15px 0;
}

.resume-text-container h2{
  margin: 10px 0;
}

.resume-text{
  font-size: 18px;
}

.photo-result{
  width: 300px;
  margin: 20px 10px;
  border-radius: 20px;
  transition: all 1s ease;
}
